<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title fs-54">Bee   Learn</h5>
        <style>
        @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Indie+Flower&display=swap');
  </style>
      </div>
    </div>

    <div class="col-md-6">
      <img src="https://i.imgur.com/ItNaxYQ.png" alt="..."width="400px" height="400px">
    <div>
    
    </div>
      <a class="btn btn-dark mr-5 button center " routerLink='/entrar'>Entrar</a>
      <a class="btn btn-dark button center" routerLink="/cadastrar">Cadastrar</a>

    </div>
  </div>
</div>


<div class="container-fluid2">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://i.imgur.com/ItNaxYQ.png" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title fs-18-2">Sobre nós </h5>
          <style>
            @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Indie+Flower&display=swap');
      </style>
          <p class="card-text text-white fs-12">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          
          <style>
            @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Nunito:wght@200&display=swap');
            </style>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title fs-18">Perfil professor</h5>
          <style>
            @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Indie+Flower&display=swap');
      </style>
          <p class="card-text fs-12-2">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          
          <style>
            @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Nunito:wght@200&display=swap');
            </style>
        </div>
      </div>

      <div class="col-md-4">
        <img src="https://i.imgur.com/ItNaxYQ.png" alt="...">
      </div>
    </div>
  </div>


  <div class="container-fluid2">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://i.imgur.com/ItNaxYQ.png" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title fs-18-2">Perfil estudante</h5>
          <style>
            @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Indie+Flower&display=swap');
      </style>
          
          <p class="card-text text-white fs-12">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          
          <style>
            @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Nunito:wght@200&display=swap');
            </style>
        </div>
      </div>
    </div>
  </div>

 
 <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12">
        <div class="card-body">
          <h5 class="card-title fs-18 justify-content-center">Deevs Bee</h5>
          <style>
            @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Indie+Flower&display=swap');
      </style>
          <p class="card-text fs-12-2">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          
          <style>
            @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Nunito:wght@200&display=swap');
            </style>
        </div>
      </div>
    
      <div class="col-md-4 ">
        <img class="img33" src="https://i.imgur.com/ItNaxYQ.png" alt="" width="100px"height="100px">
      </div>

      <div class="col-md-4 ">
        <img class="img33" src="https://i.imgur.com/ItNaxYQ.png" alt="..." width="100px"height="100px">
      </div>

      <div class="col-md-4 ">
        <img class="" src="https://i.imgur.com/ItNaxYQ.png" alt="..."width="100px"height="100px">
      </div>
    </div>
  </div>
  <div>
   </div>


   <div class="container">
     <div class="hexagon">
       <div class="shape"></div>
     </div>
  
  
   <div class="hexagon">
      <div class="shape"></div>
    </div>

    <div class="hexagon">
      <div class="shape"></div>
    </div>
  </div>